// <>COLORS
//black and white
$black-1000: #222;
$black-50: #f4f5f7;
$black: #000;
$white: #fff;

//brand
$primary-500: #156b8a;
$primary-400: #1fa7d9;
$primary-300: #58c5ed;

$accent-500: #6676f3;
$accent-400: #667eea;

// <>FONT-SIZE
$fs-title: 20px;
$fs-body: 16px;
$fs-caption: 14px;

// <>FONT-WEIGHT
$fw-700: 700;
$fw-500: 500;

// <>RADIUS
$radius-st: 8px;
